<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="simpleAccess:sqlConnectionStringName" value="sqlDefaultConnection"/>
  </appSettings>
  <connectionStrings>
    <add name="sqlDefaultConnection"
      connectionString="Data Source=.\SQLEXPRESS2014;Initial Catalog=SimpleAccessTest;Persist Security Info=True;User ID=sa;Password=Test123"/>
    <add name="sqlDefaultConnection2"
      connectionString="Data Source=devsql2012;Initial Catalog=SimpleAccessDB;Persist Security Info=True;Integrated Security=SSPI;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>